:root {
	--color1: #0f0f1e;
	--color2: #20202f;
	--color3: #ffd57a;
	--color4: #dddddd;
	--color5: #ffffff;
}

html {
	font-size: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	background-color: var(--color2);
}

h2 {
	text-align: center;
	font-size: 3rem;
	color: var(--color4);
}

p {
	text-align: center;
	font-size: 2rem;
	color: var(--color4);
}

img {
	margin: 0 auto;
	display: block;
}

header {
	background-color: var(--color1);
	padding: 50px 20px;
}

header h1 {
	color: var(--color3);
	text-align: center;
	font-size: 3.2rem;
	font-family: 'Press Start 2P', cursive;
}

body .main-height {
	height: 95vh;
}

main {
	max-width: 700px;
	min-width: 300px;
	margin: 0 auto;
}

.result-div {
	height: 100px;
	margin-top: 50px;
}

.result-div p {
	margin-top: 5px;
}

.players-div {
	width: 100%;
	display: flex;
}

.players-div .player {
	width: 100%;
}

.players-div .player p {
	font-size: 2.5rem;
	font-weight: 600;
	text-align: center;
	margin: 10px;
	color: var(--color5);
}

.players-div .player img {
	margin-top: 30px;
	width: 80px;
}

.scorecard {
	height: 100px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.scorecard * {
	width: 100%;
	margin: 0;
}

.weapons-div {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.weapons-div .weapon {
	width: 160px;
	min-width: 100px;
	padding: 20px 0;
	background-color: var(--color1);
	cursor: pointer;
	margin: 0 15px;
	border-radius: 10px;	
}

.weapons-div .weapon:hover {
	background-color: #2a2a3a;
}

.weapons-div .weapon img {
	width: 70px;
}

.weapons-div .weapon h3 {
	text-align: center;
	font-size: 3rem;
	color: var(--color5);
	margin-top: 10px;
}

.play-again {
	height: 100px;
	display: flex;
	align-items: center;
}

.play-again button {
	margin: 0 auto;
	font-size: 2rem;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	background-color: greenyellow;
	font-family: 'Press Start 2P', cursive;
	display: none;
	visibility: hidden;
}

footer {
	margin-top: 8vh;
	margin-bottom: 3vh;
}

footer a {
	color: var(--color4);	
}

footer a:after {
	content: url(images/external-link.svg);
	margin: 0 0 0 3px;;
}

footer .attr {
	font-size: 1.6rem;
	margin-top: 5px;
}

@media (max-width: 700px) {
	
	header {
		padding: 30px 10px;
	}

	header h1 {
		font-size: 2.5rem;
	}
}

@media (max-width: 600px) {

	.weapons-div .weapon {
		margin: 0 5px;
	}

	.weapons-div .weapon img {
		width: 50px;
	}

	.weapons-div .weapon h3 {
		font-size: 2rem;
		margin-top: 5px;
	}
}

@media (max-width: 500px) {
	header h1 {
		font-size: 2rem;
	}
}

@media (max-width: 405px) {
	header h1 {
		font-size: 1.6rem;
	}

	.result-div {
		margin-top: 20px;
	}
}